
.tf_booking-widget {
    background: #febb02;
    background: linear-gradient(to bottom,#febb02 0,#febb02 100%);
    border-color: #cd8900;
    color: #fff;
    padding: 20px;

    &.default-form{
    	padding: 0;
    	background: none;
    	border:none;
    	color: #333;
        height: 55px;

    	.tf_form-inner{
    		padding: 0;

    		input[type=text],
    		select{

    		}
    	}

    	.tf-label{
    		display: none;
    	}
    }
}

.tf_widget-title {
    font-size: 26px;
    margin-bottom: 10px;
}