.tf_contents {
    margin-top: 40px;
}

.tf_toc-wrap {
    td{
    	white-space: break-spaces;
    }

}

.tf_gallery-wrap {

	.slick-slide img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
}

// Faq
.tf-single-faq {
    border-bottom: 1px solid #ddd;
}

.faq-content {
    display: none;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.faq-head {
    padding: 17px 0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.faq-head i {
    font-size: 18px;
}

.faq-head>i {
    margin-right: 8px;
}

.faq-indicator {
    position: absolute;
    right: 0;
}

.faq-indicator i {
    font-size: 20px;
}

.faq-indicator .fa-angle-up {
    display: none;
}

.tf-single-faq.active .faq-indicator .fa-angle-up {
    display: block;
}

.tf-single-faq.active .faq-indicator .fa-angle-down {
    display: none;
}

.tf_contents.reviews .comment-respond {
    padding: 0;
    background: transparent;
}

.tf_toc-wrap {
    margin-top: 30px;
}

.tf-comments-count-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 40px;
}

.tf_comment-metas .comment-meta {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.tf_comment-metas .comment-meta label {
    min-width: 230px;
    margin: 0;
}

.tf_comment-metas {
    margin-bottom: 31px;
}

.author-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-email>p {
    min-width: 50%;
    max-width: 50%;
}

.author-email input {
    width: 100%;
}

p.comment-form-author {
    padding-right: 7px;
}

p.comment-form-email {
    padding-left: 7px;
}

.tf_comment-metas .comment-meta .tf_comment_meta-key {
    font-weight: normal;
}

.tf-comment-list {
    padding: 0;
    margin: 0;
}

.tf-comment-list .comment {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px 0;
    overflow: hidden;
    clear: both;
}