.single_recomended_content {
    height: 270px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.single_recomended_item{
    box-sizing: border-box;
  	margin-bottom: 15px;
}
/* Recomended Large 2 */
.recomended_inner .single_recomended_item:nth-child(1),.recomended_inner .single_recomended_item:nth-child(2) {
    width: calc( (100% - 15px) / 2 );
    float:left;
}
.recomended_inner .single_recomended_item:nth-child(1) {
    margin-right: 14.9px;
}
/* Recomended Large 3 */
.recomended_inner .single_recomended_item:nth-child(3),.recomended_inner .single_recomended_item:nth-child(4), .recomended_inner .single_recomended_item:nth-child(5){
    width: calc( (100% - 30px) / 3 );
    float:left;
}
.recomended_inner .single_recomended_item:nth-child(3), .recomended_inner .single_recomended_item:nth-child(4) {
    margin-right: 14.9px;
}
/* Inner Style */
#recomended_section_wrapper a {
    text-decoration: none;
}
.recomended_place_info_header h3{
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    text-decoration:none;
}
.recomended_place_info_header p{
    margin: 0px;
    padding: 0px;
  	color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration:none;
}
.recomended_place_info_footer h3 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    font-size: 12px;
    text-decoration:none;
}
.recomended_place_info_footer p {
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration:none;
}
.recomended_place_info_header {
    text-align: left;
    padding: 21px 15px;
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,27,65,0.65)),color-stop(100%,rgba(0,27,65,0)));
    background: -webkit-linear-gradient(top,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,27,65,0.65)),to(rgba(0,27,65,0)));
    background: linear-gradient(to bottom,#001c42a6 0,rgba(0,27,65,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00224F',endColorstr='#00001e47',GradientType=0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;



}
.single_recomended_item:hover .recomended_place_info_header{
   background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,27,65,0.65)),color-stop(100%,rgba(0,27,65,0)));
    background: -webkit-linear-gradient(top,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,27,65,0.65)),to(rgba(0,27,65,0)));
    background: linear-gradient(to bottom,#001c42a6 0,rgba(0,27,65,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00224F',endColorstr='#00001e47',GradientType=0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.recomended_place_info_footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
    background: #333;
    padding: 5px 7px;
    box-sizing: border-box;
    border-radius: 4px;
}
/*================ Explore =====================*/
#populer_section_wrapper a{
  text-decoration: none;
}
.populer_widget_inner .slick-slider {
    margin:0 -7px;
}
.populer_widget_inner .slick-slide {
    padding:0px;
    margin-right:7px;
    margin-left:7px;
}
p.tourfic_widget_location_title {
    font-weight: 700;
    display: block;
    margin-top: 12px;
    color: black;
    text-transform: capitalize;
    margin: 0px;
}
p.tourfic_widget_location_subtitle {
    font-size: 14px;
    display: block;
    margin: 0px;
}

p.price {
    font-size: 14px;
    display: block;
    margin: 0px;
    color: #000;
    font-weight:700;
}
.tourfic_review_part {
    margin-top: 7px;
}
p.review_number_wrap {
    font-size: 13px;
}
span.review_num {
    background: #003580;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 14px;
}
.populer_item_img {
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.populer_section_heading h3 {
    margin: 0px;
    padding: 0px;
}
.populer_section_heading p {
    margin: 0px;
    padding: 0px;
}
.populer_section_heading{
    padding: 20px 5px;
}



// Homepage Widget
.tf_homepage-booking {
    display: flex;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    color: #333;
    border-radius: 4px;
    position: relative;
    border: 4px solid #febb02;
    justify-content: space-between;
    align-items: center;
}

.tf_destination-wrap,
.tf_selectdate-wrap,
.tf_selectperson-wrap,
.tf_submit-wrap {
    border-right: 4px solid #febb02;
}



.tf_destination-wrap {
    border-left: 0;
    width: 40%;
}

.tf_submit-wrap {
    border-right: 0;
}

.tf_selectdate-wrap .tf_input-inner {
    display: flex;
    align-items: center;
}

.tf_selectperson-wrap .tf_input-inner {
    display: flex;
    align-items: center;
}

.tf_homepage-booking .tf_form-row .tf_label-row {
    margin: 0;
}

.date-sep {
    padding: 0 10px;
}

.tf_selectdate-wrap {
    padding: 0 15px;
}

.tf_selectperson-wrap {
    padding: 0 15px;
}

.person-sep {
    padding: 0 8px;
}

.checkin-date-text,
.date-sep,
.checkout-date-text,
.adults-text,
.person-sep,
.child-text,
.room-text {
    white-space: nowrap;
}


.tf_destination-wrap .tf_input-inner {
    padding: 0 15px;
}

